@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title text-center" style="max-width: 35rem; margin: auto; margin-top: 4rem;">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div class="text-center">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
